<div class="flex items-center justify-between h-16 mb-8">
  <h2 class="!m-0 !mr-auto">Product editor</h2>

  <button
    type="button"
    mat-icon-button
    [routerLink]="productId() ? ['../..'] : ['..']"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<my-org-card [col]="true">

  <form class="grid grid-cols-1 xl:grid-cols-2 gap-x-6 gap-y-2">


    <!-- FORM ARRAY -->
    <div class="flex items-center justify-between col-span-2">
      <div>
        <h4 class="!m-0">Price per month</h4>
      </div>
      <!-- BUTTON HERE -->
    </div>
    <div class="col-span-2 grid grid-cols-2 xl:grid-cols-3 gap-x-6 gap-y-2">

    </div>


    <div class="flex gap-4 mt-4">
      <!-- FORM ACTIONS HERE -->
    </div>


  </form>

</my-org-card>
