<h1>Welcome to exercise - Forms state handling</h1>

<p class="!my-8 !text-2xl !font-light">
  In this exercise, we're going to explore how to implement Angular form state
  handling using an editor approach which can be used to both create new and
  update existing items.
</p>

<ul class="text-lg">
  <li>How to handle create and edit modes</li>
  <li>How to integrate form with external data source (eg, API or store)</li>
  <li>How to submit the form and handle the response</li>
  <li>How to reset the form to its initial state</li>
  <li>
    How to prevent users from navigating away from the form with unsaved changes
  </li>
</ul>


<blockquote class="mt-12 pl-8 py-4 border-l-4 text-lg">
  Compared to where we left off we have added a couple of new components and services to stramline
  implementation of this exercise...
</blockquote>

<ul class="text-lg mt-8">
  <li><strong>product-editor-skeleton</strong> component that displays skeleton UI version of editor while the item is being loaded,</li>
  <li><strong>card-status</strong> component to display statuses like error or success in a nicer way</li>
  <li><strong>dialog-confirm</strong> pattern which comes with a service which allows us to open a confirm dialog and get notified about the result of the user interaction</li>
</ul>
