<h1>Welcome to exercise - Form validation</h1>

<p class="!my-8 !text-2xl !font-light">
  In this exercise, we're going to explore how to implement Angular form
  validation
</p>

<ul class="text-lg">
  <li>How to implement form validation</li>
  <li>How to use built in and custom validators</li>
  <li>
    How to add validation on various levels (eg, form control vs from array)
  </li>
  <li>How to display validation errors</li>
  <li>How to display form validation errors on submit</li>
</ul>

<blockquote class="mt-12 pl-8 py-4 border-l-4 text-lg">
  Compared to where we left off we have added a
  <code>number.validator.ts</code> file in the
  <code>core/validator/</code> folder with a validator stub in order to provide
  TODO items for the exercise
</blockquote>
