<div class="flex items-center justify-between h-16 mb-8">
  <h2 class="!m-0 !mr-auto">
    {{ store.selectedProduct() ? 'Edit' : 'Create new' }} product
  </h2>

  @if (store.editorLoading()) {
    <mat-spinner [diameter]="40" />
  }
  <button
    type="button"
    mat-icon-button
    (click)="close()"
    [disabled]="store.editorLoading()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

@if (store.editorNewProductCreated()) {
  <my-org-card-status
    class="mb-4"
    status="success"
    title="New product created successfully"
    description="
      New product has been created successfully. You can now view it in the product list.
    "
    (dismiss)="close()"
  />
}

@if (store.loadingShowSkeleton()) {
  <my-org-product-editor-skeleton />
} @else {
  <my-org-card [col]="true">
    <form class="grid grid-cols-1 xl:grid-cols-2 gap-x-6 gap-y-2">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Product name" [field]="form.name" />
        @for (error of form.name().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-span-2">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Product description" [field]="form.description" />
        @for (error of form.description().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <mat-icon matIconPrefix>attach_money</mat-icon>
        <input matInput type="number" placeholder="Product price" [field]="form.price" />
        @for (error of form.price().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <mat-icon matIconPrefix>warehouse</mat-icon>
        <input
          matInput
          placeholder="Product quantity"
          type="number"
          [field]="form.quantity"
        />
        @for (error of form.quantity().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field (keydown)="$event.stopPropagation()" class="col-span-2">
        <!-- prevent typeahead select key events form trigger list host listeners -->
        <mat-label>Category</mat-label>
        <input
          type="text"
          placeholder="Product catregory"
          matInput
          [field]="form.category"
          [matAutocomplete]="auto"
        />
        @for (error of form.category().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of filteredCategoryOptions(); track option) {
            <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <!-- NESTED FORM GROUP -->
      <mat-form-field>
        <mat-label>Supplier name</mat-label>
        <input matInput placeholder="Supplier name" [field]="form.supplier.name" />
        @for (error of form.supplier.name().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Supplier origin</mat-label>
        <input matInput placeholder="Supplier origin" [field]="form.supplier.origin" />
        @for (error of form.supplier.origin().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <!-- CONDITIONAL FIELDS -->
      <div class="form-field">
        <mat-checkbox [field]="form.isCertified">Certified</mat-checkbox>
      </div>
      @if (!form.certificationType().hidden()) {
        <mat-form-field>
          <mat-label>Certification type</mat-label>
          <mat-select placeholder="Certification type" [field]="form.certificationType">
            <mat-option [value]="null"></mat-option>
            <mat-option value="organic">Organic</mat-option>
            <mat-option value="fairtrade">Fairtrade</mat-option>
          </mat-select>
          @for (error of form.certificationType().errors(); track error) {
            <mat-error>{{ error.message }}</mat-error>
          }
        </mat-form-field>
      }

      <!-- FORM ARRAY -->
      <div class="flex items-center justify-between col-span-2">
        <div>
          <h4 class="!m-0">Price per month</h4>
          @if (form.pricePerMonth().touched()) {
            @for (error of form.pricePerMonth().errors(); track error) {
              <mat-error>{{ error.message }}</mat-error>
            }
          }
        </div>
        <button
          mat-mini-fab
          color="primary"
          type="button"
          [disabled]="store.editorDisabled()"
          (click)="addPricePerMonth()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col-span-2 grid grid-cols-2 xl:grid-cols-3 gap-x-6 gap-y-2">
        @for (field of form.pricePerMonth; track field) {
          <mat-form-field>
            <mat-label
              >Price per
              {{ MONTHS[$index + (24 - form.pricePerMonth.length)] }}
            </mat-label>
            <mat-icon matIconPrefix>attach_money</mat-icon>
            <input matInput placeholder="Price per month" [field]="field" type="number" />
            <button
              matIconSuffix
              mat-icon-button
              type="button"
              [disabled]="store.editorDisabled()"
              (click)="removePricePerMonth($index)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            @for (error of field().errors(); track error) {
              <mat-error>{{ error.message }}</mat-error>
            }
          </mat-form-field>
        }
      </div>
    </form>
    <div class="flex gap-4 mt-4">
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="save()"
        [disabled]="store.editorDisabled()"
      >
        {{ store.selectedProduct() ? 'Update' : 'Create' }}
      </button>
      <button
        type="button"
        mat-stroked-button
        (click)="reset()"
        [disabled]="store.editorDisabled()"
      >
        Reset
      </button>
      <button
        type="button"
        mat-button
        [disabled]="store.editorLoading()"
        (click)="close()"
      >
        Close
      </button>
    </div>
  </my-org-card>
}
