<div class="flex items-center justify-between h-16 mb-8">
  <h2 class="!m-0">{{ productId() ? 'Edit' : 'Create new' }} product</h2>

  <button
    type="button"
    mat-icon-button
    class="ml-auto"
    [routerLink]="this.productId() ? ['../../'] : ['../']"
    queryParamsHandling="merge"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

@if (store.loading()) {
  <my-org-product-editor-skeleton />
} @else {
  <my-org-card [col]="true">
    <form [formGroup]="form" class="grid grid-cols-1 xl:grid-cols-2">
      <mat-form-field class="col">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Product name" formControlName="name" />
        @if (form.controls.name.errors?.['required']) {
          <mat-error>Please provide product name</mat-error>
        }
      </mat-form-field>
    </form>
    <div class="flex gap-4">
      <button mat-raised-button color="primary" (click)="save()">
        {{ productId() ? 'Update' : 'Create' }}
      </button>
      <button mat-button (click)="reset()">Reset</button>
    </div>
  </my-org-card>
}
