<h1>Welcome to exercise - Routing and Navigation</h1>

<p class="!my-8 !text-2xl !font-light">
  In this exercise, we're going to explore how to implement routing and
  navigation in Angular application with a focus on best practices like deep
  linking (reflecting relevant app state to URL) and UX concerns (using router
  state to parametrize parts of the UI).
</p>

<ul class="text-lg">
  <li>How to set up routing features</li>
  <li>
    How to define useful helper routes like (redirect for main lazy feature and
    wildcard route)
  </li>
  <li>How to define new routes and capture dynamic parameters</li>
  <li>
    How to use additional <code>router-outlet</code> to implement nested routing
  </li>
  <li>How to use <code>routeLink</code> to navigate between routes</li>
  <li>
    How to use directives related to <code>routerLink</code> like
    <code>routerLinkActive</code> to parametrize UI and improve UX
  </li>
  <li>How to navigate programmatically</li>
  <li>How to access and use route parameters and router state</li>
  <li>How to reflect UI state into url and back</li>
</ul>

<blockquote class="mt-12 pl-8 py-4 border-l-4 text-lg">
  Compared to where we left off we have pre-generated the
  <code>product-detail</code> component using Angular Schematics in the
  <code>product/</code> lazy feature folder, so it is possible to provide TODO
  steps for that component. In practice we would generate it with ease using
  Angular Schematics IDE integration.
</blockquote>
