<my-org-card [col]="true" class="animate-pulse">
    <div class="bg-gray-300 w-1/3 h-4 rounded-full mb-2"></div>
    <div class="bg-gray-300 w-2/3 h-2 rounded-full"></div>
    <div class="bg-gray-300 w-2/3 h-2 rounded-full"></div>
    <div class="flex gap-4 mt-4">
        <my-org-chip icon="attach_money">
            <div class="bg-gray-300 w-10 rounded h-2"></div>
        </my-org-chip>
        <my-org-chip icon="attach_money">
            <div class="bg-gray-300 w-8 rounded h-2"></div>
        </my-org-chip>
        <my-org-chip icon="attach_money">
            <div class="bg-gray-300 w-8 rounded h-2"></div>
        </my-org-chip>
    </div>
</my-org-card>
