<h1>Welcome to exercise - Form</h1>

<p class="!my-8 !text-2xl !font-light">
  In this exercise, we're going to explore how to define and display Angular
  forms using reactive forms approach
</p>

<ul class="text-lg">
  <li>How to implement form using Angular Reactive Forms</li>
  <li>How to implement nested from controls, form groups and form arrays</li>
  <li>
    How to react to form value changes (eg list of options or dependent fields)
  </li>
</ul>

<blockquote class="mt-12 pl-8 py-4 border-l-4 text-lg">
  Compared to where we left off we have added a
  <strong>category</strong> service which provides list of categories as a
  simple array of strings exposed as signal
</blockquote>
