<div class="flex items-center justify-between h-16 mb-8">
  <h2 class="!m-0">{{ productId() ? 'Edit' : 'Create new' }} product</h2>

  <button
    type="button"
    mat-icon-button
    class="ml-auto"
    [routerLink]="this.productId() ? ['../../'] : ['../']"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<my-org-card [col]="true">
  <p>product-editor works! {{ productId() }}</p>
  <p>{{ product.name() }}</p>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Product name"
      #name="ngModel"
      [(ngModel)]="product.name"
      required
    />
    @if (name.invalid && (name.dirty || name.touched)) {
      @if (name.errors?.['required']) {
        <mat-error>Required</mat-error>
      }
    }
  </mat-form-field>
</my-org-card>
