<div class="flex items-center justify-between h-16 mb-8">
  <h2 class="!m-0 !mr-auto">Product editor</h2>
  @if (form().submitting()) {
    <mat-spinner [diameter]="40" />
  }
  <button
    type="button"
    mat-icon-button
    [disabled]="form().submitting()"
    (click)="close()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
@if (isNewProductCreated()) {
  <my-org-card-status
    class="mb-4"
    title="Product created"
    description="The product was created successfully."
    status="success"
    (dismiss)="close()"
  />
}
@if (error()) {
  <my-org-card-status
    class="mb-4"
    title="Something went wrong"
    [description]="error()"
    status="error"
    (dismiss)="error.set(undefined)"
  />
}
@if (productResource.isLoading()) {
  <my-org-product-editor-skeleton />
} @else {
  <my-org-card [col]="true">
    <form [formRoot]="form" class="grid grid-cols-1 xl:grid-cols-2 gap-x-6 gap-y-2">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [formField]="form.name" placeholder="Product name" />
        @for (error of form.name().errors(); track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-span-2">
        <mat-label>Description</mat-label>
        <input
          matInput
          [formField]="form.description"
          placeholder="Product description"
        />
        @for (error of form.description().errors(); track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input
          type="number"
          matInput
          [formField]="form.price"
          placeholder="Product price"
        />
        @for (error of form.price().errors(); track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input
          type="number"
          matInput
          [formField]="form.quantity"
          placeholder="Product quantity"
        />
        @for (error of form.quantity().errors(); track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-span-2">
        <mat-label>Category</mat-label>
        <input
          matInput
          [formField]="form.category"
          placeholder="Product category"
          [matAutocomplete]="categoryAutocomplete"
        />
        <mat-autocomplete #categoryAutocomplete="matAutocomplete" autoActiveFirstOption>
          @for (option of filteredCategoryOptions(); track option) {
            <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
        @for (error of form.category().errors(); track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Supplier name</mat-label>
        <input matInput [formField]="form.supplier.name" placeholder="Supplier name" />
        @for (error of form.supplier.name().errors(); track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Supplier origin</mat-label>
        <input
          matInput
          [formField]="form.supplier.origin"
          placeholder="Supplier origin"
        />
        @for (error of form.supplier.origin().errors(); track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <div class="form-field">
        <mat-checkbox [formField]="form.isCertified">Is certified</mat-checkbox>
      </div>
      @if (!form.certificationType().hidden()) {
        <mat-form-field>
          <mat-label>Certification Type</mat-label>
          <mat-select [formField]="form.certificationType">
            <mat-option [value]="null">None</mat-option>
            <mat-option value="organic">Organic</mat-option>
            <mat-option value="fairtrade">Fairtrade</mat-option>
          </mat-select>
          @for (error of form.certificationType().errors(); track $index) {
            <mat-error>{{ error.message }}</mat-error>
          }
        </mat-form-field>
      }

      <div class="flex items-center justify-between col-span-2">
        <div>
          <h4 class="!m-0">Price per month</h4>
          @if (form.pricePerMonth().touched()) {
            @for (error of form.pricePerMonth().errors(); track $index) {
              <mat-error>{{ error.message }}</mat-error>
            }
          }
        </div>
        <button
          type="button"
          mat-mini-fab
          color="primary"
          [disabled]="disabled()"
          (click)="addPricePerMonth()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col-span-2 grid grid-cols-2 xl:grid-cols-3 gap-x-6 gap-y-2">
        @for (field of form.pricePerMonth; track field) {
          <mat-form-field>
            <mat-label
              >Price per
              {{ MONTHS[$index + (24 - form.pricePerMonth.length)] }}</mat-label
            >
            <input
              type="number"
              matInput
              [formField]="field"
              placeholder="Price per month"
            />
            <button
              type="button"
              mat-icon-button
              [disabled]="disabled()"
              (click)="removePricePerMonth($index)"
              matIconSuffix
            >
              <mat-icon>delete</mat-icon>
            </button>
            @for (error of field().errors(); track $index) {
              <mat-error>{{ error.message }}</mat-error>
            }
          </mat-form-field>
        }
      </div>
      <div class="flex gap-4 mt-4 col-span-2">
        <button type="submit" mat-raised-button color="primary" [disabled]="disabled()">
          Save
        </button>
        <button
          type="button"
          mat-stroked-button
          [disabled]="disabled()"
          (click)="reset()"
        >
          Reset
        </button>
        <button
          type="button"
          mat-stroked-button
          [disabled]="form().submitting()"
          (click)="close()"
        >
          Close
        </button>
      </div>
    </form>
  </my-org-card>
}
