<h1>Welcome to exercise - Backend API communication</h1>

<p class="!my-8 !text-2xl !font-light">
  In this exercise were going to explore how to communicate with a backend API
  using HttpClient and how to create a simple backend service to encapsulate the communication logic.
</p>

<ul class="text-lg">
  <li>How to setup HttpClient</li>
  <li>How to create a backend service</li>
  <li>How to load data in the component (and disadvantages of doing so)</li>
  <li>How to "subscribe" to backend without subscription or async pipe data using Angular Signals RxJs interop package</li>
  <li>How to use Angular interceptors</li>
</ul>


<blockquote class="mt-12 pl-8 py-4 border-l-4 text-lg">
  Compared to where we left off, we have removed some of the mocks we provided earlier and introduced
  two new UI components, card and chip which are going to make our UI look a bit more interesting.
  Make sure to check their implementation in the <code>ui/</code> folder, they are pretty simple and self-explanatory.
</blockquote>







