<h1>Products</h1>

<div class="grid lg:grid-cols-2 gap-8 mt-8">
  <div>
    <div class="flex items-center gap-4 h-16 mb-8">
      <h2 class="!m-0 !mr-auto">Product list</h2>
      <button type="button" mat-mini-fab color="" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button
        type="button"
        mat-mini-fab
        [color]="showFilter() ? 'accent' : ''"
        (click)="toggleShowFilter()"
      >
        <mat-icon>filter_list</mat-icon>
      </button>
      <button
        type="button"
        mat-mini-fab
        color="primary"
        [color]="rla.isActive ? 'accent' : 'primary'"
        [routerLink]="['editor']"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        #rla="routerLinkActive"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    @if (showFilter()) {
      <div class="mb-8" @appearDownEnterLeave>
        <mat-form-field class="w-full">
          <mat-label>Fulltext search</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="query"
            (keydown.esc)="query.set('')"
          />
          <button
            type="button"
            matSuffix
            mat-icon-button
            (click)="query.set('')"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint
            >Displaying
            <strong>{{ products().length }}</strong>
            products</mat-hint
          >
        </mat-form-field>
      </div>
    }

    <div tabindex="0" class="flex flex-col gap-4">
      @if (loading()) {
        @for (i of [0, 1, 2, 3]; track $index) {
          <my-org-product-item-skeleton />
        }
      } @else {
        @if (error()) {
          <my-org-card-status
            status="error"
            [description]="error()"
            (click)="error.set(undefined)"
          />
        } @else {
          @for (product of products(); track product.id) {
            <my-org-product-item
              tabindex="0"
              [product]="product"
              (remove)="handleRemove($event)"
            />
          } @empty {
            <p>No products found...</p>
          }
        }
      }
    </div>
  </div>
  <div [@appear]="outletActivated()" class="order-first lg:order-none">
    <router-outlet
      #outlet="outlet"
      (activate)="outletActivated.set(true)"
      (deactivate)="outletActivated.set(false)"
    />
  </div>
</div>
