<h1 class="!mb-1">Products</h1>
<p class="text-lg font-light">
  This exercise has <strong>19</strong> TODO steps, good luck!
</p>

<div class="grid lg:grid-cols-2 gap-8 mt-8">
  <div>
    <div class="flex items-center gap-4 h-16 mb-8">
      <h2 class="!m-0 !mr-auto">Product list</h2>
      @if (loading()) {
        <mat-spinner [diameter]="40" />
      }
      <button
        type="button"
        mat-mini-fab
        [color]="showFilter() ? 'accent' : 'primary'"
        (click)="showFilter.set(!this.showFilter())"
      >
        <mat-icon>filter_list</mat-icon>
      </button>
      <button
        type="button"
        mat-mini-fab
        [color]="rla.isActive ? 'accent' : 'primary'"
        [routerLink]="['editor']"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        #rla="routerLinkActive"
      >
        <mat-icon>add</mat-icon>
      </button>
      <!-- TODO 18: let's add a "create new product button" similar to the toggle filter button  -->
      <!-- it should be a mat-mini-fab with a mat-icon "add" -->
      <!-- what should be the route? use routerLinkActive directive to display primary (default) and accent color (active) -->
      <!-- the button will be active also when editing existing item, let's solve it by using routerLinkActiveOptions -->
      <!-- set exact flag to true and try again -->

      <!-- TODO 19: implement back (close) navigation in the "product-editor" component  -->
      <!-- keep in mind that sometimes we need to go up one level .. and sometimes two ../..  -->
      <!-- we have to determine which one is correct based on the presence of productId -->
      <!-- add an X button (copy from "product-detail" component) and try to implement the use case -->
      <!-- there are multiple ways to go about it -->
    </div>

    @if (showFilter()) {
      <div class="mb-8">
        <mat-form-field class="w-full">
          <mat-label>Fulltext search</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="query"
            (keydown.escape)="query.set('')"
          />
          @if (products().length; as productCount) {
            <mat-hint>Displaying {{ productCount }} products</mat-hint>
          }
        </mat-form-field>
      </div>
    }

    <div class="flex flex-col gap-4">
      @if (loadingSkeleton()) {
        @for (i of [1, 2, 3, 4, 5]; track $index) {
          <my-org-product-item-skeleton />
        }
      } @else {
        @if (error()) {
          <p class="text-red-500">Error: {{ error() }}</p>
        } @else {
          @for (product of products(); track product.id) {
            <my-org-product-item
              [disabled]="loading()"
              [product]="product"
              (remove)="removeProduct($event)"
            />
          } @empty {
            No products found...
          }
        }
      }
    </div>
  </div>
  <!-- TODO 6: let's add another <div> with a nested <router-outlet /> -->
  <!-- (mind the template context and self closing tags) -->
  <!-- In running app, it should be now possible to navigate to details -->
    <div>
        <router-outlet />
    </div>
</div>
