<div class="flex items-center justify-between h-16 mb-8">
  <h2 class="!m-0 !mr-auto">Product editor</h2>

  @if (loading()) {
    <mat-spinner diameter="40"></mat-spinner>
  }

  <button type="button" mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

@if (isNewProductCreated()) {
  <my-org-card-status
    title="Product created"
    description="The product has been successfully created"
    status="success"
    class="mb-4"
    (dismiss)="close()"
  />
}

@if (loadingShowSkeleton()) {
  <my-org-product-editor-skeleton />
} @else {
  <my-org-card [col]="true">
    <form
      class="grid grid-cols-1 xl:grid-cols-2 gap-x-6 gap-y-2"
      [formGroup]="form"
    >
      <mat-form-field>
        <mat-label>Product name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Product name"
          formControlName="name"
        />
        @if (form.controls.name.errors?.['required']) {
          <mat-error>Name is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-span-2">
        <mat-label>Description</mat-label>
        <input
          type="text"
          matInput
          placeholder="Description"
          formControlName="description"
        />
        @if (form.controls.description.errors?.['required']) {
          <mat-error>Description is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input
          matInput
          type="number"
          placeholder="Price"
          formControlName="price"
        />
        @if (form.controls.price.errors?.['required']) {
          <mat-error>Price is required</mat-error>
        }
        @if (form.controls.price.errors?.['isNumber']) {
          <mat-error>Price is to be a number</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput placeholder="Quantity" formControlName="quantity" />
        @if (form.controls.quantity.errors?.['required']) {
          <mat-error>Quantity is required</mat-error>
        }
        @if (form.controls.quantity.errors?.['isInteger']) {
          <mat-error>Quantity has to be a whole number</mat-error>
        }
      </mat-form-field>

      <ng-container formGroupName="supplier">
        <mat-form-field>
          <mat-label>Supplier name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Supplier name"
            formControlName="name"
          />
          @if (form.controls.supplier.controls.name.errors?.['required']) {
            <mat-error>Supplier name is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Supplier origin</mat-label>
          <input
            matInput
            type="text"
            placeholder="Supplier origin"
            formControlName="origin"
          />
          @if (form.controls.supplier.controls.origin.errors?.['required']) {
            <mat-error>Supplier origin is required</mat-error>
          }
        </mat-form-field>
      </ng-container>

      <mat-form-field (keydown)="$event.stopPropagation()" class="col-span-2">
        <mat-label>Category</mat-label>
        <input
          [matAutocomplete]="autocomplete"
          matInput
          type="text"
          placeholder="Category"
          formControlName="category"
        />
        <mat-autocomplete autoActiveFirstOption #autocomplete="matAutocomplete">
          @for (option of filteredCategoryOptions(); track option) {
            <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
        @if (form.controls.category.errors?.['required']) {
          <mat-error>Category is required</mat-error>
        }
      </mat-form-field>

      <!-- FORM ARRAY -->
      <div class="flex items-center justify-between col-span-2">
        <div>
          <h4 class="!m-0">Price per month</h4>
          @if (form.controls.pricePerMonth.touched) {
            @if (form.controls.pricePerMonth.errors?.['required']) {
              <mat-error>Price per month is required</mat-error>
            }
            @if (form.controls.pricePerMonth.errors?.['minlength']) {
              <mat-error
                >Please provide at least 6 price per month values</mat-error
              >
            }
          }
        </div>
        <button
          [disabled]="disabled()"
          type="button"
          (click)="addPricePerMonth()"
          mat-mini-fab
          color="primary"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col-span-2 grid grid-cols-2 xl:grid-cols-3 gap-x-6 gap-y-2">
        <ng-container formArrayName="pricePerMonth">
          @for (control of pricePerMonth.controls; track control.value) {
            <mat-form-field>
              <mat-label
                >Price per
                {{
                  MONTHS[$index + (24 - pricePerMonth.controls.length)]
                }}</mat-label
              >
              <input
                matInput
                type="number"
                placeholder="Price per month"
                [formControlName]="$index"
              />
              <button
                [disabled]="disabled()"
                matIconSuffix
                mat-icon-button
                type="button"
                (click)="removePricePerMonth($index)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              @if (control.errors?.['required']) {
                <mat-error>Price per month is required</mat-error>
              }
              @if (control.errors?.['isNumber']) {
                <mat-error>Price per month has to be a number</mat-error>
              }
            </mat-form-field>
          }
        </ng-container>
      </div>

      <div class="flex gap-4 mt-4">
        <button
          [disabled]="disabled()"
          type="button"
          mat-raised-button
          color="primary"
          (click)="save()"
        >
          Save
        </button>
        <button
          [disabled]="disabled()"
          type="button"
          mat-stroked-button
          (click)="reset(product())"
        >
          Reset
        </button>
        <button type="button" mat-button (click)="close()">Close</button>
      </div>
    </form>
  </my-org-card>
}
