<h1>
  Welcome to exercise - Component extra, 3rd party libs, lazy loading,
  animations, ...
</h1>

<p class="!my-8 !text-2xl !font-light">
  In this exercise, we're going to explore how to use components from
  non-Angular 3rd party libraries and by doing so explore additional concepts
  like view children or content projection as well as lazy loading of heavy
  components and animations.
</p>

<ul class="text-lg">
  <li>How to ...</li>
</ul>

<blockquote class="mt-12 pl-8 py-4 border-l-4 text-lg">
  Compared to where we left off we have ...
</blockquote>
