<h1>Welcome to exercise - State</h1>

<p class="!my-8 !text-2xl !font-light">
  In this exercise, we're going to extract state into a store like service to
  improve UX, remove need for state synchronization between components and make
  the app more scalable and maintainable.
</p>

<ul class="text-lg">
  <li>
    How to manually refresh state between independent components why is that a
    problem?
  </li>
  <li>What's the general idea of service based state management</li>
  <li>How to create a store like service</li>
  <li>How to extract most of the component state into the service</li>
  <li>
    How to make service state private and only expose limited well-defined
    public API
  </li>
  <li>How to perform async operations in the service</li>
  <li>How to prevent race conditions with rxMethod</li>
  <li>How to use service in component to access and update state</li>
</ul>

<blockquote class="mt-12 pl-8 py-4 border-l-4 text-lg">
  Compared to where we left off we have already pre-generated the
  <code>ProductService</code> in order to be able to provide inline TODO
  descriptions
</blockquote>
