<div class="flex items-center justify-between h-16 mb-8">
  <h2 class="!m-0 !mr-auto">Product editor</h2>

  <button
    type="button"
    mat-icon-button
    [routerLink]="productId() ? ['../..'] : ['..']"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<my-org-card [col]="true">
  <form
    [formGroup]="form"
    class="grid grid-cols-1 xl:grid-cols-2 gap-x-6 gap-y-2"
  >
    <mat-form-field>
      <mat-label>Product name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Product name"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field class="col-span-2">
      <mat-label>Description</mat-label>
      <input
        type="text"
        matInput
        placeholder="Description"
        formControlName="description"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input
        matInput
        type="number"
        placeholder="Price"
        formControlName="price"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput placeholder="Quantity" formControlName="quantity" />
    </mat-form-field>

    <!-- TODO 2: for each form field, add <mat-error> as the last child (mind tpl ctx) -->
    <!-- the <mat-error> should be displayed only if the form control has errors key with the name of the validator -->
    <!-- wrap it with an @if block and access form control errors and specific error "required" by index access (hint: ?.["required"])-->
    <!-- the content of the <mat-error> should be the error message for the specific form field -->
    <!-- try it in the running application, focusing and blurring the field should display error -->

    <!-- TODO 5: add <mat-error> for fields which now use isNumberValidator -->
    <!-- implement it the same way as the previous errors for the required validator -->
    <!-- (the error key is based on what was returned in the error object of the validator) -->
    <!-- try it in the running application, remove type="number" from price and write "aaa" -->

    <!-- FORM GROUP -->
    <ng-container formGroupName="supplier">
      <mat-form-field>
        <mat-label>Supplier name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Supplier name"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Supplier origin</mat-label>
        <input
          matInput
          type="text"
          placeholder="Supplier origin"
          formControlName="origin"
        />
      </mat-form-field>
    </ng-container>

    <mat-form-field (keydown)="$event.stopPropagation()" class="col-span-2">
      <mat-label>Category</mat-label>
      <input
        [matAutocomplete]="autocomplete"
        matInput
        type="text"
        placeholder="Category"
        formControlName="category"
      />
      <mat-autocomplete autoActiveFirstOption #autocomplete="matAutocomplete">
        @for (option of filteredCategoryOptions(); track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <!-- FORM ARRAY -->
    <div class="flex items-center justify-between col-span-2">
      <div>
        <h4 class="!m-0">Price per month</h4>

        <!-- TODO 6: the form array is special in that it has validators on each control but also on the array itself -->
        <!-- let's implement <mat-error> which displays "required" error for the "pricePerMonth" form array -->
        <!-- this error will be displayed when we didn't add any controls -->
        <!-- then we can define another <mat-error> for the "minlength" validator we specified previously -->
        <!-- keep in mind that we always have to wrap errors in the @if block -->
        <!-- because this errors are used outside of <mat-form-field> we should check if they were "touched" as well -->
        <!-- then, try it in the running application by adding and removing price per month form array controls -->
      </div>
      <button
        type="button"
        (click)="addPricePerMonth()"
        mat-mini-fab
        color="primary"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="col-span-2 grid grid-cols-2 xl:grid-cols-3 gap-x-6 gap-y-2">
      <ng-container formArrayName="pricePerMonth">
        @for (control of pricePerMonth.controls; track control.value) {
          <mat-form-field>
            <mat-label
              >Price per
              {{
                MONTHS[$index + (24 - pricePerMonth.controls.length)]
              }}</mat-label
            >
            <input
              matInput
              type="number"
              placeholder="Price per month"
              [formControlName]="$index"
            />
            <button
              matIconSuffix
              mat-icon-button
              type="button"
              (click)="removePricePerMonth($index)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-form-field>
        }
      </ng-container>
    </div>

    <div class="flex gap-4 mt-4">
      <!-- FORM ACTIONS HERE -->
      <!-- TODO 8: add save button, use mat-raised-button directive and "primary" color (mind tpl ctx) -->
      <!-- don't forget to set button type, because buttons without type will submit form as a default action -->
      <!-- add a click handler and call previously created save() method -->
      <!-- try it in the running application, clicking on the button should display all validation errors -->
    </div>
  </form>
</my-org-card>
