<div class="flex items-center justify-between h-16 mb-8">
  <h2 class="!m-0 !mr-auto">Product editor</h2>

  <button type="button" mat-icon-button [routerLink]="productId() ? ['../..'] : ['..']">
    <mat-icon>close</mat-icon>
  </button>
</div>

<my-org-card [col]="true">
  <form class="grid grid-cols-1 xl:grid-cols-2 gap-x-6 gap-y-2">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formField]="form.name" placeholder="Product name" />
      <!-- TODO 2: use @for to render all errors from the name() form field instance -->
      <!-- the errors are available as a signal on the form field instance -->
      <!-- use track $index -->
      <!-- use the <mat-error> component and try it in the running application -->
    </mat-form-field>

    <!-- TODO 3: add same logic to description, price, quantity and category -->
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [formField]="form.description" placeholder="Product description" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Price</mat-label>
      <input
        type="number"
        matInput
        [formField]="form.price"
        placeholder="Product price"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input
        type="number"
        matInput
        [formField]="form.quantity"
        placeholder="Product quantity"
      />
    </mat-form-field>

    <mat-form-field class="col-span-2">
      <mat-label>Category</mat-label>
      <input
        matInput
        [formField]="form.category"
        placeholder="Product category"
        [matAutocomplete]="categoryAutocomplete"
      />
      <mat-autocomplete #categoryAutocomplete="matAutocomplete" autoActiveFirstOption>
        @for (option of filteredCategoryOptions(); track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <!-- TODO 5: add errors to supplier nested fields -->
    <mat-form-field>
      <mat-label>Supplier name</mat-label>
      <input matInput [formField]="form.supplier.name" placeholder="Supplier name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Supplier origin</mat-label>
      <input matInput [formField]="form.supplier.origin" placeholder="Supplier origin" />
    </mat-form-field>

    <div class="form-field">
      <mat-checkbox [formField]="form.isCertified">Is certified</mat-checkbox>
    </div>
    @if (!form.certificationType().hidden()) {
      <mat-form-field>
        <mat-label>Certification Type</mat-label>
        <mat-select [formField]="form.certificationType">
          <mat-option [value]="null">None</mat-option>
          <mat-option value="organic">Organic</mat-option>
          <mat-option value="fairtrade">Fairtrade</mat-option>
        </mat-select>
        <!-- TODO 7: add errors to conditional certificationType field -->
      </mat-form-field>
    }

    <div class="flex items-center justify-between col-span-2">
      <div>
        <h4 class="!m-0">Price per month</h4>
        <!-- TODO 11: add form array validation error for pricePerMonth -->
        <!-- compared to previous errors, we have to manually check for form field touched state -->
        <!-- because we're using it outside of the <mat-form-field> -->
      </div>
      <button type="button" mat-mini-fab color="primary" (click)="addPricePerMonth()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="col-span-2 grid grid-cols-2 xl:grid-cols-3 gap-x-6 gap-y-2">
      @for (field of form.pricePerMonth; track field) {
        <mat-form-field>
          <mat-label
            >Price per {{ MONTHS[$index + (24 - form.pricePerMonth.length)] }}</mat-label
          >
          <input
            type="number"
            matInput
            [formField]="field"
            placeholder="Price per month"
          />
          <button
            type="button"
            mat-icon-button
            (click)="removePricePerMonth($index)"
            matIconSuffix
          >
            <mat-icon>delete</mat-icon>
          </button>
          <!-- TODO 13: add errors, how do we access them from current field? -->
          <!-- then try it in running application -->
        </mat-form-field>
      }
    </div>
  </form>
  <div class="flex gap-4 mt-4">
    <!-- TODO 15: add save (mat-raised-button, primary color) and reset (mat-stroked-button) buttons -->
    <!-- then, add click handler for both buttons and create a save and reset method in the component -->
    <!-- (use WebStorm tooling to generate methods from click handlers) -->
    <!-- then in the save method, import and use Signals forms "submit" helper (empty) -->
    <!-- then in the reset method, get form instance, call reset and pass in empty model -->
    <!-- then try the functionality in the running app -->
  </div>
</my-org-card>
