<h1 class="!mb-1">Products</h1>
<p class="text-lg font-light">
  This exercise has <strong>24</strong> TODO steps
  (last 2 are optional), good luck!
</p>

<div class="grid lg:grid-cols-2 gap-8 mt-8">
  <div>
    <div class="flex items-center gap-4 h-16 mb-8">
      <h2 class="!m-0 !mr-auto">Product list</h2>
      <!-- TODO 15: fix all broken references in the template -->
      <!-- by accessing state properties form the productService -->
      <!-- check out the running app which should now load and display list of products -->
      @if (loading()) {
        <mat-spinner [diameter]="40" />
      }
      <!-- TODO 3: add a new button to trigger refresh method we just created -->
      <!-- the button can look exactly the same as one bellow for triggering of filter -->
      <!-- for the <mat-icon> use the "refresh" icon, set empty string as the  color -->
      <!-- once done, try the whole update -> refresh flow in the running app -->
      <!-- what are the issues with this approach and why did they arise in the first place? -->

      <button
        type="button"
        mat-mini-fab
        [color]="showFilter() ? 'accent' : 'primary'"
        (click)="showFilter.set(!this.showFilter())"
      >
        <mat-icon>filter_list</mat-icon>
      </button>

      <button
        type="button"
        mat-mini-fab
        [color]="rla.isActive ? 'accent' : 'primary'"
        [routerLink]="['editor']"
        routerLinkActive
        #rla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    @if (showFilter()) {
      <div class="mb-8" @appearDownEnterLeave>
        <mat-form-field class="w-full">
          <mat-label>Fulltext search</mat-label>
          <!-- TODO 18: let's rework the [(ngModel)] binding into two separate bindings -->
          <!-- 1. [ngModel] will bind to the query exposed by the productService -->
          <!-- 2. (ngModelChange) will call the updateQuery method of the productService, pass $event into method -->
          <!-- let's also replace other instances of query access and update with the productService based alternative -->
          <!-- check out the running app and try to search for products -->
          <!-- with some query set, try also to refresh page and see if the list is sub-filtered -->
          <input
            type="text"
            matInput
            [(ngModel)]="query"
            (keydown.escape)="query.set('')"
          />
          <!-- here we could also define a new computed signal in the service -->
          @if (products().length; as productCount) {
            <mat-hint>Displaying {{ productCount }} products</mat-hint>
          }
        </mat-form-field>
      </div>
    }

    <div class="flex flex-col gap-4">
      @if (loadingSkeleton()) {
        @for (i of [1, 2, 3, 4, 5]; track $index) {
          <my-org-product-item-skeleton />
        }
      } @else {
        @if (error()) {
          <p class="text-red-500">Error: {{ error() }}</p>
        } @else {
          @for (product of products(); track product.id) {
            <my-org-product-item
              [disabled]="loading()"
              [product]="product"
              (remove)="removeProduct($event)"
            />
          } @empty {
            No products found...
          }
        }
      }
    </div>
  </div>
  <div class="order-first lg:order-none" [@appearDown]="outletActivated()">
    <router-outlet
      (activate)="outletActivated.set(true)"
      (deactivate)="outletActivated.set(false)"
    />
  </div>
</div>
